# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Model weights (too large for git)
*.bin
*.safetensors
*.pt
*.pth
scratch/

# Obsidian
.obsidian/
/Templates/
/Daily Notes/

# Misc
*.egg-info/
.vscode/settings.json

# Datasets
Datasets/

